.dots {width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.table-custom {table-layout: fixed;}
.row-margin-bottom {margin-bottom: 15px}
.pre-img {width: 64px; height: 64px;}
.td-center {text-align: center;}
